.app-shell {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background: var(--cream);
}

.app-shell-content {
  flex: 1;
  overflow: hidden;
  position: relative;
  order: 1;
}

.app-shell > .bottom-nav,
.app-shell > .side-nav {
  order: 2;
}

@media (min-width: 860px) {
  .app-shell {
    flex-direction: row;
  }

  .app-shell-content {
    order: 2;
  }

  .app-shell > .bottom-nav,
  .app-shell > .side-nav {
    order: 1;
  }
}
